/* ESTILOS SECCION LOGO */
.logo {
  display: block;
  margin-bottom: 2rem; }

@media screen and (min-width: 366px) and (max-width: 800px) {
  .logo {
    height: 15rem;
    width: 15rem; } }

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .logo {
    height: 20rem;
    width: 20rem; } }

@media screen and (min-width: 1200px) {
  .logo {
    height: 25rem;
    width: 25rem; } }

.fondo {
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  z-index: 10; }

.sub-heading {
  color: #3d2615;
  font-size: 2.5rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-bottom: 3rem; }

@media screen and (min-width: 0px) and (max-width: 1099px) {
  .sub-heading {
    font-size: 1.5rem; } }

/* ESTILOS BANNER KUROMI */
@media screen and (min-width: 0px) and (max-width: 1200px) {
  .banner {
    display: none; }
  .bannermobile {
    display: unset; } }

@media screen and (min-width: 1201px) {
  .banner {
    display: unset; }
  .bannermobile {
    display: none; } }

.bannermobile .foto-index-mobile {
  margin: 1rem;
  border: 0.5rem solid white;
  border-radius: 10px; }

.bannermobile .banner-new {
  padding: 0;
  padding-top: 0.5rem; }

.bannermobile .kuromi-titulo, .bannermobile .kuromi-titulo2 {
  padding: 0; }

.bannermobile .kuromi-titulo2 {
  padding: 0;
  text-align: center;
  margin: 0; }

.bannermobile .new-products {
  padding: 0;
  padding-top: 15px; }

.bannermobile .boton-nuevosp {
  margin: 0;
  margin-top: 15px;
  text-align: center;
  text-decoration: none; }

@media screen and (min-width: 0px) and (max-width: 353px) {
  .foto-index-mobile {
    height: 200px;
    width: 200px; } }

@media screen and (min-width: 353px) and (max-width: 470px) {
  .foto-index-mobile {
    height: 300px;
    width: 300px; } }

.background-mobile {
  background-color: lightpink; }

/* ESTILOS NO MOBILE  */
.banner {
  text-decoration: none;
  color: black; }

.bannerkuromi {
  width: 1200px;
  height: 600px;
  background-image: url("../images/bannerkuromi.jpg"); }

.banner-new {
  font-family: 'Comfortaa', cursive;
  padding: 6rem;
  padding-right: 9rem;
  padding-bottom: 1rem;
  font-weight: 500; }

.new-products {
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  text-align: center;
  padding-right: 1rem;
  padding-top: 1rem; }

.kuromi-titulo, .kuromi-titulo2 {
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
  padding-right: 5rem;
  text-align: center; }

.kuromi-titulo2 {
  padding-right: 10rem; }

.flecha-n {
  display: none; }

.flecha-b {
  display: unset; }

.boton-nuevosp {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #d0a0df;
  border: 1px solid white;
  color: white;
  margin-top: 3rem;
  margin-right: 9rem; }
  .boton-nuevosp:hover {
    background-color: white;
    border: 1px solid black;
    color: black; }
    .boton-nuevosp:hover .flecha-b {
      display: none; }
    .boton-nuevosp:hover .flecha-n {
      display: unset; }

/* ESTILOS DEL SWIPER */
.slider-contenedor {
  background-color: lightpink; }

.slider-titulo {
  text-align: center;
  background-color: lightpink;
  color: white;
  font-size: 4rem;
  font-family: 'Quicksand', sans-serif; }

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -2px;
  left: 0;
  width: 100%; }

.card-size-img {
  width: 300px;
  height: 300px; }

.img-after {
  display: none !important; }

.img-card-container:hover .img-after {
  display: unset !important; }

.img-card-container:hover .img-before {
  display: none; }

.swiper {
  width: 100%;
  height: 100%; }

@media screen and (min-width: 600px) and (max-width: 900px) {
  .swiper {
    width: 75%;
    height: 100%; } }

@media screen and (min-width: 900px) {
  .swiper {
    width: 50%;
    height: 100%; } }

.product-name {
  font-family: 'Comfortaa', cursive;
  font-weight: 500; }

.boton-card {
  padding: 1rem;
  border: 1px black solid;
  background-color: white; }
  .boton-card:hover {
    background-color: pink; }

.link-precio, .link-carrito {
  text-decoration: none;
  color: black;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  padding-right: 1rem;
  border-right: 1px solid black; }
  .link-precio:hover, .link-carrito:hover {
    color: black; }

.link-carrito {
  border-right: none;
  padding-right: 0px;
  padding-left: 10px; }

.links-boton {
  text-decoration: none; }

.swiper-slide {
  text-align: center;
  border: pink 1rem solid;
  background: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-button-next {
  color: #c0465a; }

.swiper-button-prev {
  color: #c0465a; }

.swiper-pagination-bullet-active {
  background-color: #c0465a !important; }

.swiper-slide img {
  display: block;
  object-fit: cover; }

/* SUB-INDICE ESTILOS */
.sub-indice {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  margin-top: 10px;
  width: fit-content; }
  .sub-indice:hover {
    color: #eb23da; }

.sub-indice-img:hover {
  filter: brightness(85%); }

/* NAVBAR ESTILOS */
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around; }

.navbar {
  --bs-navbar-color: rgb(255, 255, 255);
  --bs-navbar-hover-color: rgb(255 255 255 / 70%);
  --bs-navbar-disabled-color: #f8f9fa;
  --bs-navbar-active-color: rgb(255 255 255 / 90%);
  --bs-navbar-brand-color: #f8f9fa;
  --bs-navbar-brand-hover-color: #f8f9fa; }

.navbar-toggler {
  --bs-navbar-toggler-border-color: white;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color); }

.navbar-toggler-icon {
  background-image: url(../images/toggle-bs.png); }

.nav-fondo {
  background-color: lightpink; }

@media screen and (min-width: 0px) and (max-width: 576px) {
  .navbar-toggler {
    margin: 2rem; }
  .contenedor-searchbar {
    padding: 5px; } }

@media screen and (min-width: 434px) and (max-width: 531px) {
  .navbar-toggler {
    margin-left: 100%;
    margin-right: 100%; }
  .contenedor-searchbar {
    padding: 5px; } }

/* BOTON BUSCAR */
.borde-btn {
  border: 1px solid white; }

.btn {
  color: white;
  border: 1px white solid;
  --bs-btn-border-radius: 0;
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem; }

@media screen and (min-width: 0px) and (max-width: 330px) {
  .btn {
    padding: 3px; } }

.btn-outline-success {
  --bs-btn-color: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: rgb(235, 156, 169);
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 216, 11, 216;
  --bs-btn-active-color: pink;
  --bs-btn-active-bg: rgb(235, 156, 169);
  --bs-btn-active-border-color: white;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(240, 145, 227, 0.616);
  --bs-btn-disabled-color: pink;
  --bs-btn-disabled-bg: transparent;
  --bs-gradient: none; }

/* SEARCH BAR */
.me-2 {
  margin-right: 0 !important; }

.form-control {
  display: block;
  width: 25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8888 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px white solid;
  appearance: none;
  border-radius: 0;
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem; }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #790c8362;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(252, 4, 169, 0.521); }

@media screen and (min-width: 0px) and (max-width: 576px) {
  .form-control {
    width: 13rem; } }

@media screen and (min-width: 577px) and (max-width: 1200px) {
  .form-control {
    width: 13rem; } }

/* ICONOS TIENDA Y CARRITO */
.icons-nav {
  width: 35px;
  height: 35px;
  margin-left: 10px; }

.texto-link {
  margin-left: 3rem;
  text-decoration: none;
  color: white;
  padding-bottom: 10px; }
  .texto-link:hover {
    color: #eb3ed4; }

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .iconos-nav {
    margin-left: 3px; }
  .texto-link {
    margin-left: 2.6rem; } }

/* ESTILOS DE LINKS */
.links-container {
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style-type: none;
  border-top: 1px solid white;
  background-color: pink;
  margin-bottom: 0; }

.link {
  text-transform: capitalize;
  font-size: 21px;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
  opacity: 0.5;
  transition: .5s; }
  .link:hover {
    opacity: 1;
    color: white; }

@media screen and (min-width: 0px) and (max-width: 576px) {
  .link {
    font-size: 1rem; } }

/* ESTILOS DROPDOWN INICIO SESION */
.dropdown-estilos {
  --bs-btn-border-radius: 0.375rem!important;
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(250, 140, 158);
  --bs-btn-border-color: white;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(211, 98, 117);
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(211, 98, 117);
  --bs-btn-active-border-color: white;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(240, 145, 227, 0.616);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d; }

/* ESTILOS DEL CONTAINER */
.padding-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.overflow {
  overflow: hidden !important; }

.margin-0 {
  margin-top: 0 !important; }

/* ESTILOS DE SECCION NEWS LETTER */
.news-letter-icon {
  height: 5rem;
  width: 5rem; }

.newsl-div-contacto {
  background-color: lightpink; }

.newsl-titulo {
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  text-align: center; }

.newsl-input {
  display: block;
  width: 20rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8d8888 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px white solid;
  appearance: none;
  border-radius: 0.375rem; }
  .newsl-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #790c8362;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(252, 4, 169, 0.521); }

@media screen and (min-width: 0px) and (max-width: 415px) {
  .newsl-input {
    width: 13rem; } }

.boton-newsl {
  border: 1px solid white;
  background-color: #f58799;
  color: white;
  border-radius: 0.375rem; }
  .boton-newsl:hover {
    background-color: #d37181; }

/* ESTILOS DE LISTAS FOOTER */
.icons-socialmedia {
  width: 2rem;
  height: 2rem; }
  .icons-socialmedia:hover {
    transform: scale(1.4); }

.icons-list {
  list-style: none; }

.footer-titulo {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: bolder;
  color: #d8939e; }

.pink {
  color: #d8939e; }

.footer-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  text-align: center; }
  .footer-link:hover {
    color: #eb23da; }

.payment-icons {
  width: 4rem;
  height: 3rem; }

@media screen and (min-width: 766px) and (max-width: 950px) {
  .footer-list-mobile {
    flex-direction: column !important;
    align-items: center; } }

.footer-back {
  background-image: url(../images/footer-fondo.jpg);
  padding: 5rem;
  margin-top: 1rem; }

.fondo-login {
  background-image: url(../images/login-fondo.png);
  background-position: center;
  background-color: #FFCCCB; }

.login-titulo {
  color: #d36275;
  font-family: 'Comfortaa', cursive;
  padding-bottom: 1rem; }

.form-texto {
  color: #d36275; }

.input-email {
  display: block;
  width: 25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8d8888 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px white solid;
  appearance: none;
  border-radius: 0.375rem; }
  .input-email:focus {
    color: #212529;
    background-color: #fff;
    border-color: #790c8362;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(252, 4, 169, 0.521); }

@media screen and (min-width: 0px) and (max-width: 415px) {
  .input-email {
    width: 15rem; } }

.login-icons {
  width: 4rem;
  height: 3rem; }

.password-link, .registro-link, .registro-exitoso-link {
  text-decoration: none;
  color: #d36275; }
  .password-link:hover, .registro-link:hover, .registro-exitoso-link:hover {
    color: #8f8f8f; }

.btn-login {
  color: white;
  border-color: white;
  background-color: #f77d91;
  border-radius: 0.375rem;
  padding: 6px;
  width: 6rem; }
  .btn-login:hover {
    background-color: #d36275; }

.login-padding {
  padding-bottom: 20rem; }

.fondo-registro {
  background-image: url(../images/fondo-registro.jpg);
  background-position: center;
  background-color: #FBD4E7;
  background-repeat: no-repeat;
  padding-bottom: 15rem; }

.form-edad {
  width: 25rem; }

@media screen and (min-width: 0px) and (max-width: 415px) {
  .form-edad {
    width: 15rem; } }

.registro-link, .registro-exitoso-link {
  font-weight: 700; }

.error {
  font-style: italic;
  color: red; }

.valido {
  font-style: italic;
  color: green; }

/* ESTILOS MENSAJE DE REGISTRO EXITOSO */
.msj-exitoso {
  color: #d36275;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  padding-top: 1rem; }

.p-recomendaciones {
  color: #d36275;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 1rem; }

#form-container {
  background-color: #FBD4E7; }

.reg-exitoso-img {
  padding: 3rem; }

.registro-exitoso-link {
  font-size: 2rem;
  padding-bottom: 3rem;
  text-align: center; }

@media screen and (min-width: 0px) and (max-width: 354px) {
  .registro-exitoso-link {
    font-size: 1rem; } }

@media screen and (min-width: 354px) and (max-width: 437px) {
  .registro-exitoso-link {
    font-size: 1.2rem; } }

@media screen and (min-width: 438px) and (max-width: 583px) {
  .registro-exitoso-link {
    font-size: 1.5rem; } }
