/* ESTILOS SECCION LOGO */

.logo {
    display: block;
    margin-bottom: 2rem;
}

@media screen and (min-width:366px) and (max-width:800px) {
    .logo {
        height: 15rem;
        width: 15rem;
    }
}

@media screen and (min-width:800px) and (max-width:1200px) {
    .logo {
        height: 20rem;
        width: 20rem;
    }
}

@media screen and (min-width:1200px) {
    .logo {
        height: 25rem;
        width: 25rem;
    }
}

.fondo {
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    z-index: 10;
}

.sub-heading {
    color: rgb(61, 38, 21);
    font-size: 2.5rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}

@media screen and (min-width:0px) and (max-width:1099px) {
    .sub-heading {
        font-size: 1.5rem
    }
}

/* ESTILOS BANNER KUROMI */

@media screen and (min-width:0px) and (max-width:1200px) {
    .banner{
        display: none;
    }
    .bannermobile{
        display: unset;
    }
}

@media screen and (min-width:1201px){
    .banner{
        display: unset;
    }
    .bannermobile{
        display: none;
    }
}

.bannermobile{
    .foto-index-mobile{
        margin: 1rem;
        border: 0.5rem solid white;
        border-radius: 10px;
    }
    .banner-new{
        padding: 0;
        padding-top: 0.5rem;
    }
    .kuromi-titulo{
        padding: 0;
    }
    .kuromi-titulo2{
        padding: 0;
        text-align: center;
        margin: 0;
    }
    .new-products{
        padding: 0;
        padding-top: 15px;
    }
    .boton-nuevosp{
        margin: 0;
        margin-top: 15px;
        text-align: center;
        text-decoration: none;
    }
}

@media screen and (min-width:0px) and (max-width:353px) {
    .foto-index-mobile{
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width:353px) and (max-width:470px) {
    .foto-index-mobile{
        height: 300px;
        width: 300px;
    }
}

.background-mobile{
    background-color: lightpink;
}

/* ESTILOS NO MOBILE  */

.banner {
    text-decoration: none;
    color: black;
}

.bannerkuromi {
    width: 1200px;
    height: 600px;
    background-image: url("../images/bannerkuromi.jpg");
}

.banner-new {
    font-family: 'Comfortaa', cursive;
    padding: 6rem;
    padding-right: 9rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.new-products {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    text-align: center;
    padding-right: 1rem;
    padding-top: 1rem;
}

.kuromi-titulo {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    padding-right: 5rem;
    text-align: center;
}

.kuromi-titulo2 {
    @extend .kuromi-titulo;
    padding-right: 10rem;
}

.flecha-n{
    display:none;
}

.flecha-b{
    display: unset;
}

.boton-nuevosp {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgb(208, 160, 223);
    border: 1px solid white;
    color: white;
    margin-top: 3rem;
    margin-right: 9rem;

    &:hover {
        background-color: white;
        border: 1px solid black;
        color: black;
        .flecha-b{
            display: none;
        }
        .flecha-n{
            display: unset;
        }
    }
}

/* ESTILOS DEL SWIPER */

.slider-contenedor{
    background-color: lightpink;
}

.slider-titulo{
    text-align: center;
    background-color: lightpink;
    color: white;
    font-size: 4rem;
    font-family:'Quicksand', sans-serif;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -2px;
    left: 0;
    width: 100%;
}

.card-size-img{
    width: 300px;
    height: 300px;
}

.img-after{
    display: none !important;
}

.img-card-container{
    &:hover{
        .img-after{
            display: unset!important;
        }
        .img-before{
            display: none;
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:600px) and (max-width:900px){
    .swiper {
        width: 75%;
        height: 100%;
    }
    
}

@media screen and (min-width:900px) /* and (max-width:900px) */{
    .swiper {
        width: 50%;
        height: 100%;
    }
    
}

.product-name{
    font-family:'Comfortaa', cursive;
    font-weight: 500;
}

.boton-card{
    padding: 1rem;
    border: 1px black solid;
    background-color: white;

    &:hover{
        background-color: pink;
    }
}

.link-precio{
    text-decoration: none;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    padding-right: 1rem;
    border-right: 1px solid black;
    &:hover{
        color: black;
    }
}

.link-carrito{
    @extend .link-precio;
    border-right: none;
    padding-right: 0px;
    padding-left: 10px;
    }

.links-boton{
    text-decoration: none;
}


.swiper-slide {
    text-align: center;
    border: pink 1rem solid;
    background: white;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next {
    color: rgb(192, 70, 90);
}

.swiper-button-prev{
    color: rgb(192, 70, 90);
}

.swiper-pagination-bullet-active {
    background-color: rgb(192, 70, 90) !important;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

/* SUB-INDICE ESTILOS */

.sub-indice{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-family:'Comfortaa', cursive;
    font-weight: 500;
    margin-top: 10px;
    width: fit-content;

    &:hover{
        color: rgb(235, 35, 218);
    }
}

.sub-indice-img{
    &:hover{
        filter: brightness(85%);
    }
}

