.fondo-registro {
    background-image: url(../images/fondo-registro.jpg);
    background-position: center;
    background-color: #FBD4E7;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
}

.form-edad {
    width: 25rem;
}

@media screen and (min-width:0px) and (max-width:415px) {
    .form-edad {
        width: 15rem;
    }
}

.registro-link{
    @extend .password-link;
    font-weight: 700;
}

.error{
    font-style: italic;
    color: red;
}

.valido{
    font-style: italic;
    color: green;
}

/* ESTILOS MENSAJE DE SWEET ALERT */

.swal-modal {
    background-color: lightpink;
    border: 3px solid white;
}

.swal-text {
    text-align: center;
    color: white;
    font-family:'Comfortaa', cursive;
}

.swal-title {
    color: rgb(192, 70, 90);
    font-family:'Comfortaa', cursive;
}

.swal-button {
    border-radius: 2px;
    background-color: rgb(211, 98, 117);;
    font-size: 12px;
    border: 1px solid white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);

    &:hover{
        background-color: lightpink!important;
    }
}