.fondo-registro {
    background-image: url(../images/fondo-registro.jpg);
    background-position: center;
    background-color: #FBD4E7;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
}

.form-edad {
    width: 25rem;
}

@media screen and (min-width:0px) and (max-width:415px) {
    .form-edad {
        width: 15rem;
    }
}

.registro-link{
    @extend .password-link;
    font-weight: 700;
}

.error{
    font-style: italic;
    color: red;
}

.valido{
    font-style: italic;
    color: green;
}